
# 运行
-----------------

### 启动测试

配置完成，写好测试用例之后，直接运行如下命令：

```sh
$ karma start karma.config.js
```
即可启动测试运行 tableCtrl_test.js 测试用例了。

如果想省事，也可直接如下。
```sh
$ karma start
```

